.home-container {
    position: relative;
    background-size: cover;
    background-position: center;
    padding-top: 5vw;
    height: 200vh;
    color: rgb(223, 132, 132);
    text-align: center;
    /* overflow: hidden; Ensures the video doesn't overflow the container */
    /* margin-top: -30px; Offset the fixed header */
}

.audio-player {
    position: relative;
    width:90%;
    bottom:1em;
    align-self:center;
    z-index: 2; /* Ensure it is above the video and other content */
    opacity:0;
}

.audio-player:hover {
    opacity:1;
}
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: relative;
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
}

.title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.user-count {
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@keyframes peak {
    from {margin-top: 23vw;}
    to {margin-top: 10vw;}
}

.idol-quotes {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    display: block;
    animation-name: peak;
    animation-duration: 2s;
    margin-top: 10vw;
}

.idol-quotes p{
    font-size: 28px;
}

.quote {
    width: 25vw;
    margin: 10px;
    border-radius: 10px;
}
